<!-- Footer -->
<div style="flex-grow: 1;"></div>
<footer class="bg-dark text-center text-white .fixed-bottom ">
    <!-- Grid container -->
    <div class="container p-4">
  
  
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          This project makes handling the and managing student data much easier. 
          This is an early access demo version of the project which is under developement. 
          You may check the progress on my github. 
          Repo link: <a href="https://github.com/Nuethera/studentsDB-system">Github</a>
        </p>
      </section>
      <!-- Section: Text -->
  
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <span id="cc">
            &copy; Vaishnav Jha </span>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->