<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Greetings</h1>
    <table>
        <tr>
            <td>
                Roll No.
            </td>
            <td>
                {{ student['roll_no'] }}
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                {{ student['name'] }}
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                {{ student['email'] }}
            </td>
        </tr>
        <tr>
            <td>
                Phone
            </td>
            <td>
                {{ student['phone'] }}
            </td>
        </tr>
        <tr>
            <td>
                Address
            </td>
            <td>
                {{ student['address'] }}
            </td>
        </tr>
        <tr>
            <td>
                Branch
            </td>
            <td>
                {{ student['branch'] }}
            </td>
        </tr>

    </table>
</body>
</html>